*.swp
*.jar

.classpath
.project

todo
notes
dump

bin/
octave_dir/
testing_dir/
digit_recognizer/
data

src/executables/
src/main/evaluators/DigitRecognizer.java
src/main/evaluators/InstantDatabaseEvaluator.java
