*.swp
*.jar

.classpath
.project

todo
dump

data/
bin/
octave_dir/
testing_dir/

src/Java/serial/Main.java
src/Java/serial/evaluators/DigitRecognizer.java
src/Java/serial/evaluators/InstantDatabaseEvaluator.java
